{% extends 'base.html' %}
{% load static %}
{% block title %}About - Learnify{% endblock %}
{% block content %}
<div class="content-section">
    <div class="container">
        <div class="about-content">
            <div class="about-image">
                {% if about and about.photo %}
                    <img src="{{ about.photo.url }}" alt="{{ about.name }}" class="profile-image">
                {% else %}
                    <img src="{% static 'images/1.jpeg' %}" alt="Profile" class="profile-image">
                {% endif %}
            </div>
            <div class="about-text">
                <h1>About Me</h1>
                <p>{{ about.about_text|linebreaks }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
