{% extends 'base.html' %}
{% load static %}
{% block title %}About - Learnify{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 text-center">
    {% if about and about.photo %}
      <img src="{{ about.photo.url }}" class="img-fluid rounded-circle profile-img" alt="{{ about.name }}">
    {% else %}
      <img src="{% static 'images/1.jpeg' %}" class="img-fluid rounded-circle profile-img" alt="Profile">
    {% endif %}
  </div>
  <div class="col-md-8">
    <h2 class="fw-bold">About Me</h2>
    <p class="text-muted">{{ about.about_text|linebreaks }}</p>
  </div>
</div>
{% endblock %}
